li {
    color: green;
}

.test {
  font-size: 40px;
}

.map {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}
.map img{
  width: 100%;
}
.icon{
  margin-top: 30px;
  margin-left: 30px;
}
.icon img{
  width: 15%;
}