li {
    color: green;
}

.test {
  font-size: 40px;
}

.map {
  z-index: -1;
}
.map img{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: auto;
}

.time_bar img{
    position: absolute;
  left: 0px;
  top: 1400px;
  width: 100%;
  height: auto;
}

.single_city img{
    position: absolute;
  left: 0px;
  top: 150px;
  width: 100%;
  height: auto;
}
.multiple_rome img{
    position: absolute;
  left: 0px;
  top: 700px;
  width: 100%;
  height: auto;
}
.multiple_madrid img{
    position: absolute;
  left: 0px;
  top: 800px;
  width: 100%;
  height: auto;
}
.multiple_paris img{
    position: absolute;
  left: 0px;
  top: 300px;
  width: 100%;
  height: auto;
}
.multiple_london img{
    position: absolute;
  left: 0px;
  top: 100px;
  width: 100%;
  height: auto;
}
.icon{
  position: relative;
  left: 0px;
  top: 0px;
  margin-top: 30px;
  margin-right: 30px;  
}
.icon img{
  width: 15%;
}
.weather{
  background-image: url("../images/neutral.jpg");
  
}