{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Forecast - Alert!</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />

</head>
<body>
	<!-- your single-location forecast with alert interface here -->
  <a href="/weather/forecast/alert/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Back</a>

	<!-- your single-location forecast interface here -->
  
  <!--TODO: alarm_icon -->
  <!--TODO: edit_icon -->
  <div class="container-fluid">
    <div class="row">
      <div class=" col-xs-10 icon"></div>
      <div class=" col-xs-2 icon">
        <img src="/static/weather/images/warning_triangle.png" alt="warning_triangle">
        <img src="/static/weather/images/plus_minus.png" alt="plus_minus">
      </div>
  </div>
  
  <!--TODO: map-->
  <div class = "map">
    <img src="/static/weather/images/single_city.png" alt="single_city">
  </div>
  
  <!--TODO: single weather-->
  <div>
    
  </div>
  
  <!--TODO: weather_float-->
  <div>
    
  </div>
  
  <!--TODO: time_bar-->
  <div>
    
  </div>
</body>
</html>





