{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Forecast</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />
  <div class="single_map">
    
  </div>
</head>
<body>
	<!-- your single-location forecast interface here -->
  <!--TODO: map-->
  
  <div class = "map col-sm-12">
    <img src="/static/weather/images/single_city.png" alt="single_city">
  </div>  


  <!--TODO: alarm_icon -->
  <!--TODO: edit_icon -->
  <div class="icon" align="right" >
    <img src="/static/weather/images/warning_triangle.png" alt="warning_triangle">
    <img src="/static/weather/images/plus_minus.png" alt="plus_minus">
  </div>
  
  <!--TODO: single weather-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2 text-center">
      </div>
      <div class="weather col-sm-8 text-center">
        asdf
        
      </div>
      <div class="col-sm-2 text-center">
      </div>
    </div>
  </div>
  
  <!--TODO: time_bar-->
  <div class = "time_bar">
    <img src="/static/weather/images/time_bar.png" alt="time_bar">
  </div>

  
  
</body>
</html>





