{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Forecast - Alert!</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />

</head>
<body>
	<!-- your single-location forecast interface here -->
  <!--TODO: map-->
  
  <div class = "map col-sm-12">
    <img src="/static/weather/images/single_city_blur.png" alt="single_city">
  </div>  
  
  <!--TODO: alert-->
  <div class="container-fluid">
    <div class="row">
      <div class="weather col-sm-12  alert">
        <img src="/static/weather/images/alert.png" alt="alert">
        
      </div>
    </div>
  </div>
  
  <!--TODO: time_bar-->
  <div class = "time_bar">
    <img src="/static/weather/images/time_bar.png" alt="time_bar">
  </div>

  
  
</body>
</html>





