{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Current Weather</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />

</head>
<body>

	<!-- replace this html -->
	<div class="container">
		<div class="jumbotron text-light bg-primary">
			<h1>Congratulations</h1>
			<p>You've set your environment up correctly! Your current weather and comparison page will live here. </p>
		</div>
		<a href="/weather/alert/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Go to alert!</a>
	</div>
	
	<!-- /replace this html -->
</body>
</html>





